In [149]:
#Basic Exercise level2
#Loops

In [1]:
# Question 1-Exercise 1: Print First 10 natural numbers using while loop.

In [2]:
i=0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
#Question2 - Exercise 2: Print the following pattern
#                * 
#                * *  
#                * * *

In [5]:
n=3
for i in range(1,n+1):
    print("*" * i)

*
**
***

In [6]:
# Exercise 3: Calculate the sum of all numbers from 1 to a given number.

In [9]:
num=int(input("Enter an number"))

count=0
i=1
while i<=num:
    count=count+i
    i=i+1
print(count)

Enter an number5
15

In [10]:
#Exercise 4: Write a program to print multiplication table of a given number.

In [13]:
num=int(input("Enter a number"))
for i in range(1,11):
    print(f"{num}X{i}={num*i}")

Enter a number5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [15]:
#Exercise 5: Display numbers from a list using loop
#Write a program to display only those numbers from a list that satisfy the following conditions
#numbers = [12, 75, 150, 180, 145, 525, 50]
#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop

In [23]:
num = [12, 75, 150, 180, 145, 525, 50]
for i in num:
    if i>500:
        break
    elif i>150:
        continue
    elif i%5==0:
        print(i)

75
150
145

In [24]:
#Exercise 6: Count the total number of digits in a number
#Write a program to count the total number of digits in a number using a while loop.

#For example, the number is 75869, so the output should be 5.

In [25]:
num=75869
count=0
while num!=0:
    num=num//10
    count=count+1
print(count)

5

In [26]:
#Exercise 7: Print the following pattern
#            ***
#            **
#            *

In [28]:
num=3
for i in range(num,0,-1):
    print("*" * i)

***
**
*

In [29]:
#Exercise 8: Print list in reverse order using a loop
#Given:
#list1 = [10, 20, 30, 40, 50]

In [48]:
lst = [10, 20, 30, 40, 50]
size=len(lst)-1
for i in range(size,-1,-1):
    print(lst[i])

50
40
30
20
10

In [56]:
#second way
lst = [10, 20, 30, 40, 50]
size=reversed(lst)
for i in size:
    print(i)

50
40
30
20
10

In [58]:
#Exercise 9: Display numbers from -10 to -1 using for loop
#           -10
#           -9
#           -8
#           -7
#           -6
#           -5
#           -4
#           -3
#           -2
#           -1

In [74]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [75]:
#Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [79]:
for i in range(1,6,1):
    print("Saurav is hero",i,"Times, Remember Ex.")
else:
    print("Done")

Saurav is hero 1 Times, Remember Ex.
Saurav is hero 2 Times, Remember Ex.
Saurav is hero 3 Times, Remember Ex.
Saurav is hero 4 Times, Remember Ex.
Saurav is hero 5 Times, Remember Ex.
Done

In [80]:
#Exercise 11: Write a program to display all prime numbers within a range
#Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers

#Examples:

#6 is not a prime mumber because it can be made by 2×3 = 6
#37 is a prime number because no other whole numbers multiply together to make it.
#Given:

# range
#start = 25
#end = 50

In [83]:
start = 25
end = 50
for i in range(start,end):
    if i%2!=0:
        print(i,end="")
    else:
        print()

25
27
29
31
33
35
37
39
41
43
45
47
49

In [84]:
#Exercise 13: Find the factorial of a given number
#Write a program to use the loop to find the factorial of a given number.
#
#The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.
#
#For example: calculate the factorial of 5
#
#5! = 5 × 4 × 3 × 2 × 1 = 120

In [119]:
num=5
factorial=1
for i in range(1,num+1):
    factorial=factorial*i
print(f"The Factorial of {num}is {factorial}")

The Factorial of 5is 120

In [130]:
#Exercise 14: Exercise 15: Use a loop to display elements from a given list present at odd index positions
#my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [136]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i)

20
40
60
80
100

In [137]:
#Exercise 16: Calculate the cube of all numbers from 1 to a given number
#Write a program to rint the cube of all numbers from 1 to a given number
#
#Given:
#
#input_number = 6

In [141]:
num=6
for i in range(1,num+1):
    print(f"Cube of {num}is{i*i*i}")

Cube of 6is1
Cube of 6is8
Cube of 6is27
Cube of 6is64
Cube of 6is125
Cube of 6is216

In [142]:
#Exercise 17: Find the sum of the series upto n terms
#Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690
#
#Given:
#
# number of terms
#n = 5

In [7]:
#Please create a function and initialize two variables inside the 
#function, one with the value 0 and the other with the variable 2 and then
# use a for loop on the range you want the terms.
#then update the first value with sum of first value and second value and 
#multiply the second value with 10 and then add 2 in second value and then 
#return the first value.

In [25]:
n=5
first_value=0
second_value=2
for i in range(0,n):
    print(second_value,end=" ")
    first_value=first_value+second_value
    second_value=second_value*10+2
print("\n",first_value)

2 22 222 2222 22222
 24690

In [ ]:
#Exercise 14: Reverse a given integer number
#Given:
#76542
#Expected output:
#24567

In [148]:
num=76542
print(str(num)[::-1])
#This is a wrong way
#I also dont know how its work.

24567

In [31]:
num=78965
A=str(num)[::-1]
B=int(A)
type(B)

int